In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os
import sys

from tqdm import tqdm

from PIL import Image
import requests

import warnings
warnings.filterwarnings('ignore')

In [55]:
data_path = "/opt/ml/data/"

In [56]:
users = pd.read_csv(data_path + 'users.csv')
books = pd.read_csv(data_path + 'books.csv')
train = pd.read_csv(data_path + 'train_ratings.csv')
test = pd.read_csv(data_path + 'test_ratings.csv')

In [57]:
print('users shape: ', users.shape)
print('books shape: ', books.shape)
print('ratings shape: ', train.shape)

users shape:  (68092, 3)
books shape:  (149570, 10)
ratings shape:  (306795, 3)

In [62]:
users['location'] = users['location'].str.replace(r'[^0-9a-zA-Z:,]', '') # 특수문자 제거

users['location_city'] = users['location'].apply(lambda x: x.split(',')[0].strip())
users['location_state'] = users['location'].apply(lambda x: x.split(',')[1].strip())
users['location_country'] = users['location'].apply(lambda x: x.split(',')[2].strip())

users = users.replace('na', np.nan) # 'na' 는 결측치로 인식 X -> 결측치로 변환
users = users.replace('', np.nan) # , , , 으로 입력된 경우 -> 결측치로 변환

In [63]:
users.head()

,user_id,location,age,location_city,location_state,location_country
0,8,"timmins,ontario,canada",NaN,timmins,ontario,canada
1,11400,"ottawa,ontario,canada",49.0,ottawa,ontario,canada
2,11676,"na,na,na",NaN,NaN,NaN,NaN
3,67544,"toronto,ontario,canada",30.0,toronto,ontario,canada
4,85526,"victoria,britishcolumbia,canada",36.0,victoria,britishcolumbia,canada

In [64]:
users.isna().sum()

user_id                 0
location                0
age                 27833
location_city         122
location_state       3254
location_country     2124
dtype: int64

In [65]:
users[users['location_country'].isna()]

,user_id,location,age,location_city,location_state,location_country
2,11676,"na,na,na",NaN,NaN,NaN,NaN
6,116866,"ottawa,,",NaN,ottawa,NaN,NaN
32,115097,"seattle,,",27.0,seattle,NaN,NaN
49,245827,"albuquerque,,",NaN,albuquerque,NaN,NaN
72,226745,"humble,,",38.0,humble,NaN,NaN
...,...,...,...,...,...,...
67797,257311,"lisbon,maine,",36.0,lisbon,maine,NaN
67929,267240,"houston,,",NaN,houston,NaN,NaN
67930,267276,"sammamish,,",NaN,sammamish,NaN,NaN
68058,276221,"calgary,,",NaN,calgary,NaN,NaN
68068,276949,"bolligen,bern,",24.0,bolligen,bern,NaN

city 가 존재하는데 state, country 가 결측인 경우 보간


(하지만 오류가 존재한다, city 가 같아도 country 는 다른 경우가 존재 ex:victoria)

In [67]:
# modify_location = users[(users['location_country'].isna())&(users['location_city'].notnull())]['location_city'].values
# location = users[(users['location'].str.contains('seattle'))&(users['location_country'].notnull())]['location'].value_counts().index[0]

# location_list = []
# for location in tqdm(modify_location):
#     try:
#         right_location = users[(users['location'].str.contains(location))&(users['location_country'].notnull())]['location'].value_counts().index[0]
#         location_list.append(right_location)
#     except:
#         pass

# for location in tqdm(location_list):
#     users.loc[users[users['location_city']==location.split(',')[0]].index,'location_state'] = location.split(',')[1]
#     users.loc[users[users['location_city']==location.split(',')[0]].index,'location_country'] = location.split(',')[2]

# users.isna().sum()

location 이 4개짜리도 존재

In [87]:
def len4_loc(list_):
    i = 0
    if len(list_)!=3:
        i+=1
        print(list_)
    return i

strange_idx = users["location"].str.split(',').apply(lambda x: len4_loc(x))
strange_idx = idx[idx==1].index

['twinfalls', 'idaho', 'idaho', 'usa']
['coalville', 'leicestershire', 'england', 'unitedkingdom']
['tharston', 'norwich', 'england', 'unitedkingdom']
['wichita', '', 'kansas', 'usa']
['paris', 'france', 'iledefrance', 'france']
['chicago', 'il', 'illinois', 'usa']
['ramsey', 'huntingdon', 'cambridgeshire', 'unitedkingdom']
['statesville', '', 'northcarolina', 'usa']
['barboursville', '', 'virginia', 'usa']
['silsden', 'keighley', 'england', 'unitedkingdom']
['aladinma', 'imostate', 'na', 'nigeria']
['fpo', 'ap', 'okinawa', 'japan']
['akron', '', 'ohio', 'usa']
['preston', 'lancashire', 'england', 'unitedkingdom']
['4729pepperwoodave', 'longbeach', 'ca', 'usa']
['merrick', 'acworth', 'newyork', 'georgia', 'usa']
['lakeland', '', 'florida', 'usa']
['washington', 'dc', 'dc', 'usa']
['hauppauge', 'longisland', 'newyork', 'usa']
['vic', 'barcelona', 'catalunya', 'spain']
['hoodsport', 'washington', 'washington', 'usa']
['rochesterhills', 'michigan', 'michigan', 'usa']
['lagrangepark', 'il', 'illinois', 'usa']
['atwater', 'ca95301', 'california', 'usa']
['pasadena', 'maryland', 'maryland', 'usa']
['stmargarets', 'twickenham', 'middlesex', 'unitedkingdom']
['apo', 'yongsangu', 'seoul', 'southkorea']
['romulus', 'mi', 'michigan', 'usa']
['councilbluffs', 'ia', 'iowa', 'usa']
['sydenham', 'london', 'england', 'unitedkingdom']
['germantown', 'md', 'maryland', 'usa']
['usairforce', 'navalairstationkeflavik', 'iceland', 'iceland']
['walkerton', 'ontario', 'ontario', 'canada']
['hammonton', 'nj08037', 'newjersey', 'usa']
['plano', '', 'texas', 'usa']
['ray', 'michiganusa', '', '']
['washington', 'dc', 'dc', 'usa']
['hamilton', 'waikato', '', 'newzealand']
['lincolncity', 'or', 'oregon', 'usa']
['georgetown', 'penang', '', 'malaysia']
['miami', 'fl33157', 'florida', 'usa']
['thedalles', 'or', 'oregon', 'usa']
['washington', 'dc', 'dc', 'usa']
['quinton', '', 'virginia', 'usa']
['mansfield', '', 'texas', 'usa']
['silsden', 'keighley', 'westyorkshire', 'unitedkingdom']
['clayton', '', 'newmexico', 'usa']
['guadalajara', 'jalisco', '', 'mexico']
['lawrence', 'ks', 'usa', 'kansas', 'usa']
['yubacity', 'ca', 'california', 'usa']
['kincardine', '', 'ontario', 'canada']
['surrey', 'bc', 'britishcolumbia', 'canada']
['richmond', 'london', 'england', 'unitedkingdom']
['330eurekacanyon', 'corralitos', 'ca', 'usa']
['bronx', 'ny', 'newyork', 'usa']
['lmdano', 'santacruzdetenerife', 'canaryislands', 'spain']
['lantana', '', 'florida', 'usa']
['southpasadena', '', 'california', 'usa']
['superior', 'wi', '', '']
['tellicoplains', 'tn', 'tennessee', 'usa']
['knoxville', 'tn', 'tennessee', 'usa']
['kilquiggan', 'tullow', 'cocarlow', 'ireland']
['richmond', 'va', 'virginia', 'usa']
['coralsprings', '', 'florida', 'usa']
['oklahomacity', '', 'oklahoma', 'usa']
['northrode', 'cheshire', 'england', 'unitedkingdom']
['westchicago', '', 'illinois', 'usa']
['austin', 'tx', 'texas', 'usa']
['newhaven', '', 'connecticut', 'usa']
['nanaimo', 'bc', 'v9v1h4', 'britishcolumbia', 'canada']
['washington', 'dc', 'dc', 'usa']
['albuquerque', '', 'newmexico', 'usa']
['dorking', 'surrey', 'england', 'unitedkingdom']
['indianapolis', 'in', 'indiana', 'usa']
['thewoodlands', '', 'texas', 'usa']
['winfield', 'ab', 'alberta', 'canada']
['crete', 'townofbali', 'na', 'greece']
['columbus', 'ohio', 'ohio', 'usa']
['laingsburg', '', 'michigan', 'usa']
['1110lynnwoodblvd', 'nashville', 'tn', 'usa']
['sunnyvale', '', 'california', 'usa']
['eastrochester', 'newyork', 'newyork', 'usa']
['stpetersburg', '', 'florida', 'usa']
['ermington', 'sdevon', 'england', 'unitedkingdom']
['waitakere', 'auckland', 'auckland', 'newzealand']
['georgetown', '', 'massachusetts', 'usa']
['roma', '', '', 'italy']
['palatine', 'il', 'illinois', 'usa']
['kidderminster', 'worcestershire', 'england', 'unitedkingdom']
['aylesbury', 'buckinghamshire', 'uk', 'unitedkingdom']
['cloverdale', '', 'oregon', 'usa']
['amora', 'estremadura', '', 'portugal']
['annandale', '', 'virginia', 'usa']
['beaverton', '', '', '']
['fortmyers', '', 'florida', 'usa']
['vancouver', 'bc', '', 'britishcolumbia', 'canada']
['madison', 'tn', 'tennessee', 'usa']
['taunton', 'somerset', 'england', 'unitedkingdom']
['westvancouver', '', 'britishcolumbia', 'canada']
['richmond', 'va', 'virginia', 'usa']
['london', 'other', 'obviously', 'unitedkingdom']
['washington', 'dc', 'dc', 'usa']
['osagebeach', '', 'missouri', 'usa']
['paloalto', '', 'california', 'usa']
['helsinki', 'deathrockinmekka', 'etelsuomi', 'finland']
['pasorobles', 'ca', 'california', 'usa']
['washington', 'dc', '', '']
['mindelo', 'sovicente', '', 'capeverde']
['york', 'york', 'northyorkshire', 'unitedkingdom']
['singapore', 'jakarta', 'singapore', 'singapore']
['melfort', '', 'saskatchewan', 'canada']
['', 'standrews', 'guernsey', 'channelislands']
['sarasota', 'fl', 'florida', 'usa']
['chiclana', 'cadiz', 'andalucia', 'spain']
['duluth', 'ga', 'georgia', 'usa']
['deserthotsprings', 'ca', 'california', 'usa']
['casey', 'il', 'illinois', 'usa']
['st', 'louis', 'missouri', 'usa']
['siouxfalls', '', 'southdakota', 'usa']
['penacook', 'nh', 'newhampshire', 'usa']
['seelze', 'dedensen', 'niedersachsen', 'germany']
['washington', 'dc', 'districtofcolumbia', 'usa']
['wyoming', '', 'michigan', 'usa']
['portland', 'or', 'oregon', 'usa']
['pigeonpointroad', 'tobago', 'westindies', 'tobago']
['princegeorge', 'bc', 'britishcolumbia', 'canada']
['berkeley', '', 'california', 'usa']
['washington', 'dc', 'dc', 'usa']
['minneapolis', 'mn', 'minnesota', 'usa']
['chelsfield', 'kent', 'england', 'unitedkingdom']
['burnaby', 'bc', 'britishcolumbia', 'canada']
['summersville', '', '', '']
['kelowna', '', 'britishcolumbia', 'canada']
['bonnydoon', 'california', 'california', 'usa']
['putnam', 'ct', 'connecticut', 'usa']
['lisbon', 'oeiras', 'oeiras', 'portugal']
['salisbury', 'wiltshire', '', 'unitedkingdom']
['volente', 'tx', 'texas', 'usa']
['austin', 'texas', 'texas', 'usa']
['palmdale', 'ca', 'california', 'usa']
['newtown', 'ct', '', '']
['richmond', 'northyorkshire', 'england', 'unitedkingdom']
['mandaluyongcity', '', 'metromanila', 'philippines']
['claremontmeadows', 'sydney', 'newsouthwales', 'australia']
['perth', 'westernaustralia', 'australia', 'australia']
['yate', 'bristol', 'england', 'unitedkingdom']
['laeliana', 'valencia', 'na', 'spain']
['thegap', 'brisbane', 'queensland', 'australia']
['sanpedro', 'laguna', 'na', 'philippines']
['valoira', 'aestrada', 'pontevedra', 'galiza', 'spain']
['manchester', 'england', 'na', 'unitedkingdom']
['omaha', '', 'nebraska', 'usa']
['henderson', 'nevada', 'nevada', 'usa']
['portland', 'or', 'oregon', 'usa']
['decatur', 'ga', 'georgia', 'usa']
['keaau', '', '', '']
['hanson', 'ma', 'massachusetts', 'usa']
['galleryonthegreen', 'cantonct', 'connecticut', 'usa']
['kingswellsaberdeen', 'uk', 'aberdeenshire', 'unitedkingdom']
['burley', 'nrringwood', 'england', 'unitedkingdom']
['sarasota', 'fl', '', '']
['tucson', 'az85742', 'arizona', 'usa']
['hopkins', 'stanncreekdistrict', 'belize', 'ca']
['upperlake', 'ca', 'california', 'usa']
['scottsdale', '', 'arizona', 'usa']
['fortwayne', 'in', 'indiana', 'usa']
['dresden', '', 'ontario', 'canada']
['gilbert', 'arizona', 'arizona', 'usa']
['lexpark', 'md', 'maryland', 'usa']
['neworleans', 'frenchquarter', '', '']
['pechina', 'almera', 'almera', 'spain']
['washington', 'dc', 'dc', 'usa']
['whitmorelake', '', 'michigan', 'usa']
['turlock', 'ca', 'california', 'usa']
['rochdale', 'greatermanchester', 'england', 'unitedkingdom']
['aarhus', 'jutland', '', 'denmark']
['kailua', 'oahu', 'hawaii', 'usa']
['7793burnetroad', 'no24', 'austin', 'usa']
['austin', 'tx', 'texas', 'usa']
['bailey', '', 'colorado', 'usa']
['edmonton', '', 'alberta', 'canada']
['milwaukee', 'wi', 'il', 'usa']
['harvey', 'yorkco', 'newbrunswick', 'canada']
['gibsons', '', 'britishcolumbia', 'canada']
['westend', 'brisbane', 'queensland', 'australia']
['asheville', '', 'na', 'usa']
['victoria', 'bc', 'britishcolumbia', 'canada']
['kent', 'ohio', 'ohio', 'usa']
['vienna', 'va', 'virginia', 'usa']
['hotsprings', '', 'southdakota', 'usa']
['tegucigalpa', 'mdc', 'franciscomorazan', 'honduras']
['falconheights', 'mn', 'minnesota', 'usa']
['uppernyack', '', 'newyork', 'usa']
['scituate', 'ri', 'usa', 'rhodeisland', 'usa']
['fairbanks', '', 'alaska', 'usa']
['delta', 'ladner', 'britishcolumbia', 'canada']
['washington', 'dc', 'dc', 'usa']
['birmingham', 'westmidlans', 'uk', 'unitedkingdom']
['littlebay', 'pb', 'newfoundland', 'canada']
['calicorock', 'arkansas', 'arkansas', 'usa']
['granger', '', 'indiana', 'usa']
['morelia', 'michoacan', 'na', 'mexico']
['grove', 'wantage', 'england', 'unitedkingdom']
['missoula', '', 'montana', 'usa']
['upholland', 'westlancs', 'england', 'unitedkingdom']
['berlin', 'wannsee', 'berlin', 'germany']
['vitoriagasteiz', 'pasvasco', 'lava', 'spain']
['westkingston', '', 'rhodeisland', 'usa']
['greenbay', 'wi', 'wisconsin', 'usa']
['hagatna', 'guam', 'usa', 'guam']
['lawford', 'manningtree', 'england', 'unitedkingdom']
['sonoma', '', 'california', 'usa']
['orleans', 'ottawa', 'ontario', 'canada']
['dunnellon', 'florida', 'usa', 'usa']
['queenstown', 'newzealand', 'otago', 'newzealand']
['alorstar', 'alorstar', 'kedah', 'malaysia']
['noberwick', '', 'maine', 'usa']
['sanfrancisco', '', 'california', 'usa']
['martinez', 'ca', 'california', 'usa']
['cannock', 'staffordshire', 'england', 'unitedkingdom']
['northam', 'bideford', 'england', 'unitedkingdom']
['toronto', 'montreal', 'travelling', 'britishcolumbia', 'canada']
['march', 'cambridgeshire', 'england', 'unitedkingdom']
['victoria', 'bc', 'britishcolumbia', 'canada']
['beeston', 'nottingham', 'nottinghamshire', 'unitedkingdom']
['syracuse', 'ny', 'newyork', 'usa']
['wakefield', 'westyorkshire', 'england', 'unitedkingdom']
['pendleton', 'orusa', 'oregon', 'usa']
['redmond', 'or', 'oregon', 'usa']
['colorado', 'springsco', 'colorado', 'usa']
['newgloucester', 'me', 'maine', 'usa']
['wellington', 'northisland', 'newzealand', 'newzealand']
['fairfax', '', 'california', 'unitedstates']
['fredericton', 'newbru', 'newbrunswick', 'canada']
['deeside', 'flintshire', 'wales', 'unitedkingdom']
['efland', 'nc27243', 'northcarolina', 'usa']
['washington', 'dc', 'dc', 'usa']
['dartmouth', 'novascotia', 'novascotia', 'canada']
['kansascity', 'mo', 'missouri', 'usa']
['milanitaly', 'italy', 'ineurope', 'italy']
['dunedin', 'otago', 'nz', 'newzealand']
['stpaul', 'mn', 'minnesota', 'usa']
['reading', 'berks', 'england', 'unitedkingdom']
['hitchin', 'hertfordshire', 'england', 'unitedkingdom']
['mobile', 'al', 'alabama', 'usa']
['baronscourt', 'london', 'england', 'unitedkingdom']
['penzance', 'cornwall', 'uk', 'unitedkingdom']
['leduc', 'alberta', 'alberta', 'canada']
['oklacity', 'ok', 'oklahoma', 'usa']
['barham', 'barham', 'nsw', 'australia']
['vienna', 'wien', 'eu', 'austria']
['anytown', 'usa', 'anystate', 'usa', 'usa']
['endicott', 'ny', 'newyork', 'usa']
['statesville', '', 'northcarolina', 'usa']
['trieste', 'trieste', 'veneziagiulia', 'italy', 'italy']
['paris', 'iledefrance', 'paris', 'france']
['kingston', 'hobart', 'tasmania', 'australia']
['bancroft', '', 'wisconsin', 'usa']
['calgary', 'ab', 'alberta', 'canada']
['adelaide', 'holdfastbay', 'southaustralia', 'australia']
['sansebastiandonostia', 'paisvasco', 'gipuzkoa', 'spain']
['douglas', 'isleofman', 'na', 'unitedkingdom']
['neutralbay', 'sydney', 'newsouthwales', 'australia']
['mxico', 'df', 'disritofederal', 'mexico']
['roseville', 'sydney', 'newsouthwales', 'australia']
['casalgrande', 're', '', '']
['gillingham', 'kent', '', 'england']
['rapidcity', '', 'southdakota', 'usa']
['alorstar', 'alorstar', 'kedah', 'malaysia']
['highlandpark', 'losangeles', 'california', 'disgruntledstatesofamerica']
['creston', '', 'britishcolumbia', 'canada']
['auburn', 'ca', 'california', 'usa']
['princegeorge', 'bc', 'britishcolumbia', 'canada']
['ptchevalier', 'auckland', 'na', 'newzealand']
['washington', '', 'dc', 'usa']
['newbury', 'berkshire', 'england', 'unitedkingdom']
['miltonregis', 'kent', 'england', 'unitedkingdom']
['horseshoebay', '', 'texas', 'usa']
['whoknows', 'imonthemove', 'usanow', 'theworldtomorrow']
['harlingen', 'friesland', '', 'netherlands']
['yuma', 'az', 'arizona', 'usa']
['washington', 'dc', 'dc', 'usa']
['skibbereen', 'munster', 'countycork', 'ireland']
['montreal', 'montreal', 'quebec', 'canada']
['portland', '', 'oregon', 'usa']
['brentwoodbay', 'bc', 'britishcolumbia', 'canada']
['vancouver', '', 'bc', '', 'canada']
['rye', '', 'victoria', 'australia']
['santee', '', 'california', 'usa']
['seattle', 'wa', 'washington', 'usa']
['sebabeach', 'ab', 'alberta', 'canada']
['crivitz', '', 'wisconsin', 'usa']
['prineville', '', 'oregon', 'usa']
['nelson', 'motueka', 'nz', 'newzealand']
['canberra', 'act', 'australiancapitalterritory', 'australia']

In [86]:
users.iloc[strange_idx]

,user_id,location,age,location_city,location_state,location_country
435,259223,"twinfalls,idaho,idaho,usa",82.0,twinfalls,idaho,idaho
762,14387,"coalville,leicestershire,england,unitedkingdom",35.0,coalville,leicestershire,england
940,38464,"tharston,norwich,england,unitedkingdom",33.0,tharston,norwich,england
1026,51856,"wichita,,kansas,usa",59.0,wichita,NaN,kansas
1044,53688,"paris,france,iledefrance,france",28.0,paris,france,iledefrance
...,...,...,...,...,...,...
66770,202347,"sebabeach,ab,alberta,canada",NaN,sebabeach,ab,alberta
67090,217416,"crivitz,,wisconsin,usa",NaN,crivitz,NaN,wisconsin
67314,229756,"prineville,,oregon,usa",66.0,prineville,NaN,oregon
67584,278215,"nelson,motueka,nz,newzealand",28.0,nelson,motueka,nz
67586,245812,"canberra,act,australiancapitalterritory,australia",NaN,canberra,act,australiancapitalterritory

In [38]:
location_users = users[["location_city", "location_state", "location_country"]]

In [20]:
city_na = users[users['location_city'].isnull() & ]
state_na = users[(users['location_city'].notnull()) & (users['location_state'].isnull())]
country_na = users[(users['location_city'].notnull()) & (users['location_country'].isnull())]

country_na[country_na['location_state'].notnull()]

,user_id,location,age,location_city,location_state,location_country
143,57632,"pearland,texas,",NaN,pearland,texas,NaN
273,141444,"westspringfield,massachusetts,",NaN,westspringfield,massachusetts,NaN
651,141518,"vigo,pontevedra,",27.0,vigo,pontevedra,NaN
1358,98026,"yarmouth,novascotia,",40.0,yarmouth,novascotia,NaN
1555,129929,"manchester,newhampshire,",NaN,manchester,newhampshire,NaN
...,...,...,...,...,...,...
67515,240438,"wilfleinsdorf,niederoesterreich,",16.0,wilfleinsdorf,niederoesterreich,NaN
67539,241691,"buenosaires,buenosaires,",24.0,buenosaires,buenosaires,NaN
67619,247213,"stuttgart,badenwrttemberg,",NaN,stuttgart,badenwrttemberg,NaN
67797,257311,"lisbon,maine,",36.0,lisbon,maine,NaN
68068,276949,"bolligen,bern,",24.0,bolligen,bern,NaN

In [ ]:
users[users['location_city']=='47559kranenburg']